@tailwind base;
@tailwind components;
@tailwind utilities;

 
@font-face {
  font-family: 'Konnect';
  src: url(./fonts/Konnect-Regular.otf) format("opentype");
  font-family: 'VivaLa';
  src: url(./fonts/Viva\ La\ Fiesta\ -\ Uno\ Base.otf) format("opentype");
  font-family: 'Hitchcut';
  src: url(./fonts/Hitchcut-Regular.otf);
}

@layer components {
  .card {
    @apply xl:grid grid-cols-3 gap-x-10 mx-5 py-16 leading-6
  }
  .card-div {
    @apply xl:text-left px-7 py-16
  }
  .card-h2 {
    @apply xl:text-4xl uppercase font-bold my-8 font-secondary
  }
  .card-p {
    @apply xl:font-primary text-2xl
  }
  .nav-link {
    @apply xl:px-6 text-xl font-thin uppercase font-primary
  }
}